@import "tailwindcss";

@layer base {
  body {
    color: #f1f1f1;
    background-image: url(https://cdn.monstercat.com/background-tile.webp);
    background-repeat: repeat;
    background-attachment: scroll;
    background-color: var(--color-black);
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 2px white;
  }
  .text-stroke-0 {
    -webkit-text-stroke: 0;
  }
}
