@import "tailwindcss";

@theme {
  --breakpoint-lg: 74.0625rem; /* 1185px / 16 = 74.0625rem */
}

@layer base {
  body {
    color: #f1f1f1;
    background-image: url(https://cdn.monstercat.com/background-tile.webp);
    background-repeat: repeat;
    background-attachment: scroll;
    background-color: var(--color-black);
    overflow-x: hidden;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border: 0;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #f0f0f0;
  }
  ::-webkit-scrollbar-track {
    background: rgba(19, 17, 18, 0.3);
    border: 0;
    border-radius: 0px;
  }
}

@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 1px white;
  }
  .text-stroke-0 {
    -webkit-text-stroke: 0;
  }
}

[popover="hint"] {
  inset: unset;
  position: relative;
  bottom: calc(anchor(top) + 10px);
  justify-self: anchor-center;
  margin: 0;

  padding: 2px 8px;
  background: #fff;
  color: #212121;
  border: 1px solid #212121;
  overflow: visible;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
}

[popover="hint"]::after {
  content: "";
  position: absolute;
  bottom: -28%; /* just below the popover */
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  background: #fff;
  border-top: none;

  clip-path: polygon(0 0, 50% 100%, 100% 0);
}
