name: Deploy Static HTML to GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: /out # Upload the root directory (where index.html is)

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
